html,
body,
#root {
    height: 100%;
}

body {
  background-image: url('/1317711.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@import "tailwindcss";

@font-face {
  font-family: 'caviar';
  src: url('assets/CaviarDreams.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'caviar';
  src: url('assets/CaviarDreams_Bold.ttf') format('truetype');
  font-weight: 700;
}


@font-face {
  font-family: 'walkway';
  src: url('/WalkwayBlack.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'walkway';
  src: url('assets/WalkwayBlack.ttf') format('truetype');
  font-weight: 700;
}
